.top{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.top__left, .top__right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 25px;
    margin-right: 20px;
    color: #444;
    cursor: pointer;
}

.topImage{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.top__center{
    flex: 6;
}

.toplist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.toplistItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 18px;
    color: #444;
    cursor: pointer;
    margin-left: 20px;
}
